@font-face{
	font-family: chalk;
	src:url("chalk.ttf");
}

*{
	margin:0;
}

body {
	background-color: #ddd;
	font-family: helvetica;
}

#fo{
	text-align: center;
}

#t1 {
	background-color: #0E4615;
	color: white;
	font-family: chalk;
	border:solid 10px #AF8E4D;
	height: 200px;
	width: 600px;
	border-radius: 5px;
	text-align: center;
	font-size: 70pt;
}

#t3 {
	border: none;
	background-color: #ddd;
	width: 400px;
	outline:none;
	font-size: 90pt;
	color: #333;
	text-align: center;
}

#t2 {
	border: none;
	border-bottom: solid 3px #333;
	background-color: #ddd;
	height: 50px;
	width: 400px;
	outline:none;
	font-size: 35pt;
	text-align: center;
	color: #333;
	margin-top: 50px;
}

#t4 {
	border: none;
	background-color: #ddd;
	height: 50px;
	width: 400px;
	outline:none;
	font-size: 50pt;
	color: #333;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

#b1 {
	border-radius: 50%;
	outline: none;
	height: 120px;
	width: 120px;
	background-color: #CB3D3D;
	border-color: darkgray;
	cursor: pointer;
	color: white;
	font-size: 15pt;
}