.legend{
  margin-left: 60px;
  margin-bottom: 10px;
  font-family: 'Tangerine', verdana;
  font-size: 1em;
  color: rgb(128,64,64);
}
.screen{
  width: 210px;
}
.content{
  width: 300px;
  margin: auto;
  margin-top: 200px;
}
input{
  margin-bottom: 5px;
  padding: 4px;
  width: 70px;
  font-size: 11px;
  border: solid gray 1px;
  border-radius: 4px;
}
input:focus,
option:focus {
  background-color: rgba(248,205,235,0.5);
}
input[type="submit"]:focus {
  background-color: white;
}
*{
  font-family: verdana;
}
