	body{
			background-color:#F5DEB3;
	}
	nav{
			
			margin-left: 1000px;
			
	}
	.pi{
			height:60px;
			text-align: center;
			background-color: #FFF8DC;
			border-style: none;
			
	}
	.yi{
			border-radius: 25px;
			background-color: #FFFFE0;
			
	}
	div{
				font-family:Courier New;
				font-size: 20pt;

	}
